.mission{
    padding: 117px 20px 89px;
    background: #f4f8fd;
    margin-bottom: var(--section-spacing);
    &-container{
        max-width: 1200px;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 26px;
    }
    &-content{
        width: 100%;
        max-width: 502px;
    }
    .g-caption{
        margin-bottom: 18px;
    }
    .g-heading{
        margin-bottom: 25px;
        max-width: 443px;
    }
    .g-text{
        margin-bottom: 34px;
    }
    @media screen and (max-width: 1023.98px) {
        padding: 70px 0;
        &-container{
            flex-direction: column;
        }
        &-content{
            max-width: 100%;
        }
    }
    
}