*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

:root {
  --section-spacing: 140px;
}
@media screen and (max-width: 1279.98px) {
  :root {
    --section-spacing: 70px;
  }
}
@media screen and (max-width: 767.98px) {
  :root {
    --section-spacing: 50px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: #635F85;
  font-size: 16px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  background-color: transparent;
  border-radius: 100rem;
  padding: 15px 30px;
  cursor: pointer;
  text-decoration: none;
}
.button--primary {
  color: white;
  background: linear-gradient(103.38deg, #F67102 5.1%, #f4a91e 86.29%);
}
.button--secondary {
  color: #ff7d00;
  border: 2px solid #e7e7e7;
}

.g-caption {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4615384615;
  letter-spacing: 0.185em;
  display: block;
  color: #ff7d00;
}
.g-heading {
  color: #051441;
  font-weight: bold;
}
.g-heading--huge {
  font-size: 50px;
  line-height: 1.12;
}
.g-heading--big {
  font-size: 40px;
  line-height: 1.25;
}
.g-heading--normal {
  font-size: 21px;
  line-height: 1.5;
  font-weight: 600;
}
.g-text {
  font-size: 16px;
  line-height: 1.625;
  color: #7F8EA1;
}

@media screen and (max-width: 767.98px) {
  .button {
    padding: 10px 20px;
    font-size: 14px;
  }
  .g-heading--big {
    font-size: 30px;
  }
  g.-text {
    font-size: 14px;
  }
}
.toggle {
  margin-left: auto;
  display: none;
}

.navigation {
  padding: 30px 20px 40px;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.auth {
  display: flex;
  gap: 0 13px;
}

.menu {
  margin-left: auto;
  margin-right: 100px;
  display: flex;
  align-items: center;
  gap: 0 38px;
  list-style: none;
}
.menu-link {
  color: inherit;
  position: relative;
  text-decoration: none;
  transition: all 0.2s linear;
  display: block;
}
.menu-link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #ff7d00;
  height: 2px;
  width: 0;
  transition: all 0.2s linear;
}
.menu-link:hover {
  color: #ff7d00;
}
.menu-link:hover::before {
  width: 100%;
}

.header {
  padding-bottom: var(--section-spacing);
}
.header-main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 38px;
}
.header-content {
  width: 100%;
}
.header-heading {
  margin: 18px 0 25px;
}
.header-desc {
  margin-bottom: 50px;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 0 36px;
  height: 46px;
}

.watch-video {
  display: flex;
  align-items: center;
  gap: 0 36px;
  text-decoration: none;
}
.watch-video span {
  color: #101D48;
  font-size: 16px;
  font-weight: 500;
}
.watch-icon {
  margin-top: 30px;
}

@media screen and (min-width: 1280px) {
  .header-img {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 1024px) {
  .header-content {
    max-width: 496px;
  }
}
@media screen and (max-width: 1023.98px) {
  .auth {
    margin-left: 40px;
  }
  .menu {
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 85%;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 50;
    align-items: stretch;
    transition: all 0.2s linear;
    transform: translateX(100%);
  }
  .menu.is-show {
    transform: translateX(0);
  }
  .menu-link {
    padding: 15px;
  }
  .header-main {
    flex-direction: column;
  }
  .toggle {
    display: block;
  }
}
@media screen and (max-width: 767.98px) {
  .header-heading {
    font-size: 35px;
  }
  .header-actions {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .watch-video {
    gap: 100px;
  }
  .watch-icon {
    margin-top: 25px;
  }
}
.brand {
  background: #F4F7FD;
  height: 186px;
  padding: 69px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 55px;
  margin-bottom: var(--section-spacing);
}
@media screen and (max-width: 1023.98px) {
  .brand {
    gap: 0 10px;
    padding: 20px;
  }
}

.service {
  padding-bottom: 70px;
}
.service-header {
  text-align: center;
  margin-bottom: 73px;
}
.service-caption {
  margin-bottom: 25px;
}
.service-heading {
  max-width: 426px;
  margin: 0 auto 32px;
}
.service-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 33px;
}
.service-item {
  border: 2px solid #edeff7;
  border-radius: 13px;
  padding: 40px 45px 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.2s linear;
}
.service-item:hover {
  box-shadow: 0px 24px 60px rgba(94, 122, 148, 0.1);
  border-color: transparent;
}
.service-icon {
  margin-bottom: 26px;
}
.service-title {
  margin-bottom: 19px;
}
@media screen and (max-width: 1023.98px) {
  .service {
    padding-bottom: 50px;
  }
  .service-header {
    margin-bottom: 33px;
  }
  .service-list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 2px;
    padding: 20px;
    grid-template-columns: unset;
    margin-left: -20px;
  }
  .service-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .service-list > * {
    scroll-snap-align: start;
    padding: 20px 20px 45px;
  }
}

.who {
  padding-bottom: var(--section-spacing);
}
.who-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 87px;
}
.who-img {
  width: 100%;
  max-width: 600px;
}
.who-content {
  flex: 1;
}
.who .g-caption {
  margin-bottom: 25px;
}
.who .g-heading {
  margin-bottom: 25px;
  max-width: 422px;
}
.who .g-text {
  margin-bottom: 37px;
}
@media screen and (max-width: 1023.98px) {
  .who-container {
    gap: 30px;
    flex-direction: column;
  }
  .who-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mission {
  padding: 117px 20px 89px;
  background: #f4f8fd;
  margin-bottom: var(--section-spacing);
}
.mission-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 26px;
}
.mission-content {
  width: 100%;
  max-width: 502px;
}
.mission .g-caption {
  margin-bottom: 18px;
}
.mission .g-heading {
  margin-bottom: 25px;
  max-width: 443px;
}
.mission .g-text {
  margin-bottom: 34px;
}
@media screen and (max-width: 1023.98px) {
  .mission {
    padding: 70px 0;
  }
  .mission-container {
    flex-direction: column;
  }
  .mission-content {
    max-width: 100%;
  }
}

.review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--section-spacing);
}
.review-content {
  width: 100%;
  max-width: 400px;
}
.review .g-caption {
  margin-bottom: 11px;
}
.review .g-heading {
  margin-bottom: 25px;
  max-width: 399px;
}
.review .g-text {
  margin-bottom: 20px;
}
.review-number {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 0 10px;
  color: #7F8EA1;
}
.review-count {
  font-size: 25px;
  font-weight: 600;
  color: #f4a11a;
}
.review-list {
  width: 100%;
  max-width: 523px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 20px;
  position: relative;
  padding-left: 40px;
}
.review-card {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 8px 55px rgba(155, 162, 173, 0.17);
  border-radius: 10px;
  padding: 25px;
  position: relative;
}
.review-card + .review-card {
  margin-top: 20px;
}
.review-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  margin-bottom: 7px;
}
.review-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review-name {
  color: #051441;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}
.review-job {
  font-size: 7px;
  font-weight: 500;
  color: #6b7d92;
  display: block;
  margin-bottom: 8px;
}
.review-desc {
  font-size: 10px;
  line-height: 14px;
  color: #79899D;
  margin-bottom: 24px;
}
.review-rating {
  display: flex;
  align-items: center;
  gap: 0 3px;
  font-size: 8px;
  color: black;
  position: absolute;
  right: 25px;
  top: 25px;
}
.review-quote img {
  margin-left: auto;
}
.review-bg {
  position: absolute;
}
@media screen and (max-width: 1023.98px) {
  .review-container {
    flex-direction: column;
    gap: 35px;
  }
  .review-content {
    max-width: 100%;
  }
  .reviewlist {
    padding-left: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .review-list {
    max-width: 100%;
    grid-template-columns: 1fr;
  }
  .review-bg {
    display: none;
  }
}

.blog {
  margin: 0 auto var(--section-spacing);
  max-width: 1110px;
  padding: 0 20px 0;
}
.blog-header {
  text-align: center;
  margin-bottom: 78px;
}
.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 34px;
}
.blog-item {
  border-radius: 17px;
  transition: all 0.2s linear;
}
.blog-item:hover {
  background-color: #ffffff;
  box-shadow: 0px 46px 100px -31px rgba(0, 0, 0, 0.1);
}
.blog-item:hover .blog-title {
  color: #f4a11a;
}
.blog-content {
  padding: 33px 23px;
}
.blog-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #101D48;
  margin-bottom: 9px;
  transition: all 0.2s linear;
}
.blog-desc {
  font-size: 13px;
  line-height: 20px;
  color: #7F8EA1;
  margin-bottom: 9px;
}
.blog .g-heading {
  margin: 0 auto 25px;
  max-width: 454px;
}
.blog .g-text {
  margin-bottom: 78px;
}
@media screen and (max-width: 1023.98px) {
  .blog-header {
    margin-bottom: 35px;
  }
  .blog-list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 20px;
    padding: 20px;
    margin-left: -20px;
    grid-template-columns: unset;
  }
  .blog-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .blog-list > * {
    scroll-snap-align: start;
  }
}

.subscribe {
  margin-bottom: var(--section-spacing);
}
.subscribe-container {
  padding: 77px 20px 116px;
  background-color: #f4f6fd;
  border-radius: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 796px;
}
.subscribe-content {
  width: 100%;
  max-width: 404px;
}
.subscribe-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 25px;
  color: #051441;
}
.subscribe-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
  max-width: 338px;
}
.subscribe-form {
  border-radius: 26.5px;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 373px;
}
.subscribe-field {
  flex: 1;
}
.subscribe-input {
  padding: 15px 0 15px 15px;
  border: 0;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  color: #051441;
  background-color: transparent;
  width: 100%;
}
@media screen and (max-width: 1023.98px) {
  .subscribe-heading {
    font-size: 30px;
    line-height: 1.5;
  }
  .subscribe-container {
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .subscribe-main {
    flex-direction: column;
    gap: 35px;
    align-items: stretch;
  }
  .subscribe-content {
    text-align: center;
  }
  .subscribe-form {
    max-width: 100%;
  }
}

.footer {
  width: 100%;
  max-width: 1440px;
  background-color: #052347;
  margin: 0 auto;
  padding: 90px 141px 32px 170px;
}
.footer-main {
  width: 100%;
  max-width: 1130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 213px;
  margin-bottom: 50px;
}
.footer-social {
  max-width: 235px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer-logo {
  margin-bottom: 22px;
}
.footer-desc {
  margin-bottom: 28px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #AFACCD;
}
.footer-links {
  display: flex;
  gap: 0 12px;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  gap: 0 73px;
  list-style: none;
}
.footer-title {
  color: #D9E1F0;
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
}
.footer-content {
  color: #AFACCD;
  font-size: 14px;
  font-weight: 400;
  line-height: 37px;
  list-style: none;
}
.footer-copyright {
  color: #8B9FCF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding-top: 30px;
  border-top: 1px solid #11317C;
}/*# sourceMappingURL=style.css.map */