section.blog
    .container 
        .blog-container
            .blog-header
                h2.g-heading.g-heading--big Our Regular Updated Blog Posts
                p.g-text tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque. 
            .blog-list
                +blogItem('./img/blog-img1.png 2x', 'SEO tips and tricks for new', 'Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti* ')
                +blogItem('./img/blog-img2.png 2x', 'A Guide to Google SEO', 'Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti* ')
                +blogItem('./img/blog-img3.png 2x', 'Best Practices SEO Content', 'Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti* ')