section.brand 
    .brand-item     
        img(src="./img/brand-gg.svg")
    .brand-item     
        img(src="./img/brand-slack.svg")
    .brand-item     
        img(src="./img/brand-agworld.svg")
    .brand-item     
        img(src="./img/brand-riotinto.svg")
    .brand-item     
        img(src="./img/brand-heroku.svg")