footer.footer
    .footer-main 
        .footer-social 
            .footer-logo 
                img(src='./img/footer-logo.svg')
            p.g-text.footer-desc Nulla non otllo venicula, ultricles lorem a, allquarn nes!. Etlam et lorem lobortls, cony allis nunc. 
            .footer-links 
                img(src='./img/icon-fb.svg')
                img(src='./img/icon-twitter.svg')
                img(src='./img/icon-instagram.svg')
        ul.footer-info 
            li.footer-item 
                span.g-heading.footer-title Services
                ul.g-text.footer-content 
                    li.footer-detail Email Marketing Social 
                    li.footer-detail Media Marketing Search 
                    li.footer-detail Engine Optimization 
                    li.footer-detail Prnelnct Devnionmnni 
                    li.footer-detail Web Development 
            li.footer-item 
                span.g-heading.footer-title Support
                ul.g-text.footer-content 
                    li.footer-detail Sizicik. Community 
                    li.footer-detail Support Documents 
                    li.footer-detail Help:le-Lk API Documents 
                    li.footer-detail 5nvin,es Witus 
                    li.footer-detail Email Contort 
            li.g-heading.footer-item 
                span.footer-title Contact Us
                ul.g-text.footer-content 
                    li.footer-detail suppariaringrozom 
                    li.footer-detail (41) 84?-5E2-451 
                    li.footer-detail North Cry, 547 Link Road. 
    .footer-copyright 
        span All Right Reserved by Us! Copyright 2021 

    



