header.header
    .navigation
        img(srcset='./img/logo.png 2x' class='header-logo')
        include ./menu
        
        span.toggle Menu
    .header-main.container
        .header-content 
            span.g-caption AWARD WINNING COMPANY 
            h1.g-heading.g-heading--huge.header-heading We Are The Best Digital Marketing
            p.g-text.header-desc You need to get positive results when you spend hard earned revenue and time on any marketing effort. Great returns on marketing and promotions. 
            .header-actions 
                a.button.button--primary(href='#!') Get started
                a.watch-video(href="#!")
                    .watch-icon     
                        img(srcset="./img/icon-play.png 2x", alt="") 
                    span Watch Video
        .header-img 
            img(srcset="./img/header-img.png 2x", alt="")
